body {
    background-image: url("prism.jpg");
}

#navbarBacking {
  width: 100%;
  background-color: whitesmoke;
}
.linkParent {
    vertical-align: middle;
}
#widthBoxNav {
    display:flex;
    justify-content: center;
    width: 90%;
    max-width: 960px;
  }
  #navigation {
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
  }
  #widthBoxArticle {
    width: 90%;
    max-width: 960px;
  }
  #article {
    background-color: white;
    line-height: 200%;
    overflow: auto;
  }
  #seaty {
    float: left;
    margin: 0 1rem 1rem 0;
  }
  #copyright {
    background-color: whitesmoke;
  }
  .imageBanner {
    color: white;
    background-color: teal;
    bottom: 10%;
    left:0;
    right: 0;
    height: 20%;
    font-size: larger;
    vertical-align: middle;
  }
